@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 291 84% 61%;
    --secondary-foreground: 210 40% 98%;
    --accent: 210 40% 96.1%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
           h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
           bg-gray-800 text-green-500
           hover:bg-green-600 hover:text-white
           rounded-3xl hover:rounded-xl
           transition-all duration-300 ease-linear
           cursor-pointer;
  }

  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
